<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>优客宝</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/homepage_css/zerogrid.css">
	<link rel="stylesheet" href="/homepage_css/style.css">
	<link rel="stylesheet" href="/homepage_css/responsiveslides.css">
	
	<!-- Custom Fonts -->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<script src="/js/jquery-latest.min.js"></script>
	<script src="/js/script.js"></script>
    <script src="/js/jquery183.min.js"></script>
    <script src="/js/responsiveslides.min.js"></script>
    <script>
		// You can also use "$(window).load(function() {"
		$(function () {
		  // Slideshow 
		  $("#slider").responsiveSlides({
			auto: true,
			pager: false,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			  $('.events').append("<li>before event fired.</li>");
			},
			after: function () {
			  $('.events').append("<li>after event fired.</li>");
			}
		  });
		});
	</script>
	
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
	<script src="/js/html5.js"></script>
	<script src="/js/css3-mediaqueries.js"></script>
	<![endif]-->
    
</head>
<link rel="stylesheet" type="text/css" href="../static/login/assets/live2D/waifu.css" th:href="@{/login/assets/live2D/waifu.css}">
<div class="waifu" id="waifu" style="z-index: 99999;">
	<div class="waifu-tips" style="opacity: 1;"></div>
	<canvas id="live2d" width="280" height="250" class="live2d"></canvas>
	<div class="waifu-tool">
		<span class="fui-home"></span>
		<span class="fui-chat"></span>
		<span class="fui-eye"></span>
		<span class="fui-user"></span>
		<span class="fui-photo"></span>
		<span class="fui-info-circle"></span>
		<span class="fui-cross"></span>
	</div>
</div>
<script src="../static/login/assets/live2D/live2d.js" th:src="@{/login/assets/live2D/live2d.js}"></script>
<script src="../static/login/assets/live2D/waifu-tips.js" th:src="@{/login/assets/live2D/waifu-tips.js}"></script>
<script type="text/javascript">initModel()</script>
<link rel="stylesheet" type="text/css" href="https://files.cnblogs.com/files/yjlblog/flat-ui.min.css"/>

<body class="home-page">



<div class="wrap-body">

<!--////////////////////////////////////Header-->
<header >
	<div class="wrap-header zerogrid">
		<div class="row">
			<div id="cssmenu">
				<ul>
				   <li class='active'><a href="/room/list">酒店</a></li>
				   <li><a href="/movie/index">电影院</a></li>
					<li>
						<a th:text="|欢迎 [${session.yuser.userName}]|" th:if="${session.yuser!= null}" href="/auth/userIndex">欢迎 xxx</a>
						<a th:text="|登录|" th:if="${session.yuser== null}" href="/auth/login">登录</a>
						<ul>
							<span class="top"></span><span class="bottom"></span>
							<li th:if="${session.yuser!= null}"><a href="/auth/logout" style="border: 1px solid">退出</a></li>
						</ul>
					</li>

					<!--管理员权限-->
					<li><a th:text="|后台|" th:if="${session.yuser!= null && session.yuser.roleId != 2}" href="/houtai/index">后台</a></li>
				</ul>
			</div>
			<a href='index.html' class="logo"><img src="/homepage_images/logo.png" /></a>
		</div>
	</div>
</header>
<div class="slider">
	<!-- Slideshow -->
	<div class="callbacks_container" >
		<ul class="rslides" id="slider">
			<li>
				<img src="/homepage_images/slideshow-image1.jpg" alt="">
				<div class="caption">
					<h1>七天优客电影院</h1>
					<span >Seven-day Youke Cinema</span>
					<div class="price"></div>
				</div>
			</li>
			<li>
				<img src="/homepage_images/slideshow-image2.jpg" alt="">
				<div class="caption">
					<h1>七天优客酒店</h1>
					<span >Seven-day Youku Hotel</span>
					<div class="price"></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>


<!--////////////////////////////////////Container-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-2 box-1">
			<div class="zerogrid">
				<div class="row wrap-box t-center"><!--Start Box-->
					<h1>Hello There!</h1>
					<span>欢迎您的入住</span>
					<p>国际品牌豪华五星级的七天优客酒店坐落于繁华的市商业中心，地理位置得天独厚。在此可饱览艾溪湖的旖旎风景，并可以眺望历史悠久的艾溪湖大桥。是商务差旅和休闲旅客尊贵舒适的完美之地。</p>
				</div>
			</div>
		</section>
		
		<!-----------------content-box-2-------------------->
		<section class="content-box boxstyle-1 box-2">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<h2>找到您梦想中的家</h2>
					<span>Find the Home of Your Dream</span>
				</div>
			</div>
		</section>
		
		<!-----------------content-box-3-------------------->
		<!--<section class="content-box box-3">
			<div class="zerogrid">
				<div class="row wrap-box">&lt;!&ndash;Start Box&ndash;&gt;
					<div class="row">
						<div class="col-1-3">
							<div class="wrap-col wrapper">
								<h3>COMMERCIAL</h3>
								<span>MES CUML DIA SED INENIAS CET INGER LOT ALIIQTES</span>
								<p>Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim. comes cuml dia sed inertio.</p>
								<a class="button" href="homepage/single.html">Learn More</a>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col wrapper">
								<h3>LUXURY</h3>
								<span>MES CUML DIA SED INENIAS CET INGER LOT ALIIQTES</span>
								<p>Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim. comes cuml dia sed inertio.</p>
								<a class="button" href="homepage/single.html">Learn More</a>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col wrapper">
								<h3>RESIDENTIAL</h3>
								<span>MES CUML DIA SED INENIAS CET INGER LOT ALIIQTES</span>
								<p>Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim. comes cuml dia sed inertio.</p>
								<a class="button" href="homepage/single.html">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>-->
		<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="优客宝">优客宝</a></div>
		<!-----------------content-box-4-------------------->
		<section class="content-box boxstyle-2 box-4">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2>内部展示</h2>
						</div>
					</div>	
					<div class="row">
						<div class="col-1-4">
							<div class="wrap-col post">
								<img class="example-image" src="/homepage_images/kids1-thumb.jpg" alt=""/>
								<div class="price">$ 1,400</div>
								<h3>普通套房</h3>
								<p>装饰温馨高雅，设施齐全，提供宽带端口和卫星电视设备。客房内提供免费宽带上网，24小时热水淋浴，空调，电视，电话，有标准的席梦思床具及配套家具。酒店秉承如家酒店连锁的特色三大统一…酒店拥有大小包厢近百间，风格各异、装饰典雅，具有古典之精髓，也不乏现代潮流之时尚。</p>
								<a class="button" href="/room/list">即刻入住</a>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col post">
								<img class="example-image" src="/homepage_images/kids2-thumb.jpg" alt=""/>
								<div class="price">$3,600</div>
								<h3>总统套房</h3>
								<p>客房面积在200平米以上，内饰清雅且富有现代特色。所有客房均可透过落地窗欣赏到壮丽的艾溪湖美景。美轮美奂的青花瓷和传统水墨画般的地毯将客房装点得古典雅致、先进视听设备和免费无线网络又让宾客尽享现代科技的便利。</p>
								<a class="button" href="/room/list">即刻入住</a>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col post">
								<img class="example-image" src="/homepage_images/dy1.jpg" alt=""/>
								<div class="price">$30 - $160</div>
								<h3>影厅环境</h3>
								<p>从无声到有声乃至立体声，从黑白片到彩色片，从普通银幕到宽银幕乃至穹幕、环幕，使电影院的形体、尺寸、比例和声学技术，精彩不容错过</p>
								<a class="button" href="/movie/index">马上购票</a>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col post">
								<img class="example-image" src="/homepage_images/dy2.jpg" alt=""/>
								<div class="price">$30 - $160</div>
								<h3>影院长廊</h3>
								<p>精彩热片不间断轮播，开放式票房可供观众选择心仪的观影座位。厅内有服务人员向导至座席，他们的微笑服务使您有宾至如归的感觉</p>
								<a class="button" href="/movie/index">马上购票</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
	</div>
</section>

<!--////////////////////////////////////Footer-->

	
	
	
</div>
</body></html>