<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seecen.dd.xxxsys.dao.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.seecen.dd.xxxsys.dao.domain.Category" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="catepory_id" property="cateporyId" jdbcType="INTEGER" />
    <result column="catepory_name" property="cateporyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    catepory_id, catepory_name
  </sql>
</mapper>