<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seecen.dd.xxxsys.dao.mapper.ZOrderMapper" >
  <resultMap id="OrderMap" type="com.seecen.dd.xxxsys.dao.domain.ZOrder" >
        <id column="order_id" property="orderId" jdbcType="INTEGER" />
        <result column="room_id" property="roomId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="endprice" property="endprice" jdbcType="DECIMAL" />
        <result column="staytime" property="staytime" jdbcType="TIMESTAMP" />
        <result column="checkouttime" property="checkouttime" jdbcType="TIMESTAMP" />
        <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <association property="yRoom" javaType="com.seecen.dd.xxxsys.dao.domain.YRoom">
          <id column="room_id" property="roomId" jdbcType="INTEGER"></id>
          <result column="room_name" property="roomName" jdbcType="VARCHAR"></result>
          <result column="details" property="details" jdbcType="VARCHAR"></result>
        </association>
        <association property="yuser" javaType="com.seecen.dd.xxxsys.dao.domain.Yuser">
          <id column="user_id" property="userId" jdbcType="INTEGER"></id>
          <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
        </association>
        <association property="yRoomType" javaType="com.seecen.dd.xxxsys.dao.domain.YRoomType">
            <id column="roomType_id" property="roomtypeId" jdbcType="INTEGER"></id>
            <result column="roomType_name" property="roomtypeName" jdbcType="VARCHAR"></result>
        </association>
  </resultMap>
  <select id="findOrderAll" resultMap="OrderMap">
    select
       A.order_id,
       B.room_name,
       C.user_name,
       A.endprice,
       A.staytime,
       A.checkouttime,
       A.order_number,
       A.status,
       B.details,
       D.roomType_name
  from
       y_hotel_order A,
       y_hotel_room B,
       y_user C,
       y_hotel_roomtype D
  <where>
      A.room_id = B.room_id and
      B.roomType_id = D.roomType_id and
      A.user_id = C.user_id
      <if test="yuser != null and yuser.userName != null ">
          and C.user_name like #{yuser.userName}
      </if>
      <if test="status != null">
          and A.status = #{status}
      </if>
      <if test="endprice != null">
          and A.endprice = #{endprice}
      </if>
  </where>

  </select>
</mapper>